/**
 * GLOBAL COMMERCE STYLES
 *
 */
.shoppingcart-button {
    .shoppingcart-summary {
        left: auto;
        right: 0;
        min-width: $dropdown-min-width*3;
        padding: 0;

        .shoppingcart-items {
            padding: $grid-gutter-width;
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            a {
                color: $link-color;
            }
        }
    }
}